SUPABASE_URL=https://zyhdbirfrprpmwjewpko.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5aGRiaXJmcnBycG13amV3cGtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NTMxOTIsImV4cCI6MjA5MTQyOTE5Mn0.ET0xBGaCiztXiKmocyH6joMzMrNOkL0K3v7m2Nm9a4M
